* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
    background-position: center center;
    animation: animacionFondo 5s infinite;
    background-size: 500%;
    font-family: 'Anuphan', sans-serif;
    min-height: 100vh;
}

footer {
    display: flex;
    background-color: rgba(52, 50, 50, 0.62);
    color: #fff;
    width: 100%;
    margin-top: auto;
    box-shadow: -3px -15px 43px 13px rgba(64,180,201,0.75);

}

footer div {
    width: 70%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.logo {
    width: 40%;
    justify-content: right;

}
footer p{
    padding-left: 50px;
    font-size: 40px;
    color: wheat;
    font-weight: lighter;
    font-style: italic;
}




.contenedor1 {
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: wheat;
}


.instrucciones {
    width: 100%;
    text-align: center;
    color: wheat;
    background: rgba(0, 0, 0, 0.6);
}

.box {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boxTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxTexto p {
    text-align: left;
}

.boxTexto p::first-letter {
    font-size: 22px;
}


.boxTexto textarea {
    width: 400px;
    height: 400px;
    resize: none;
    margin: 10px;
    font-size: 23px;
    color: wheat;
    background-image: linear-gradient(to bottom, rgba(133, 127, 127, 0.34), rgba(63, 58, 56, 0));
}

.boxResultado {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.boxResultado textarea {
    width: 400px;
    height: 295px;
    resize: none;
    margin-top: 10px;
    font-size: 23px;
    color: wheat;
    background-image: linear-gradient(to bottom, rgba(133, 127, 127, 0.34), rgba(63, 58, 56, 0));
    text-align: center;
    padding: 10px;
}

textarea::placeholder {
    padding-top: 50%;
    line-height: normal;
}

textarea {
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
}

textarea:focus {
    outline: none;
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


@keyframes animacionFondo {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}


.sub:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
    transform: translateY(-3px);
    scale: 1.02;
    transition: .8s;
}

.sub {
    color: white;
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    margin-top: 50px;
    text-align: -moz-center;
    background-color: rgb(20, 91, 159);
    font-size: 15px;
    box-shadow: 1px 15px 51px -11px rgba(0, 0, 0, 0.82);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}


.sub#encri {
    text-shadow: 0 2px 12px rgba(255, 255, 255, 0.66);
    background-color: rgba(255, 255, 12, 0.47);
}

.sub#desen {
    text-shadow: 0 2px 12px rgba(255, 255, 255, 0.66);
    background-color: rgb(20, 91, 159);
}


@media screen and (max-width: 480px) {
    .cuerpo {
        width: 100%;
        zoom: 70%;
    }

    .contenedor1 {
        margin: 0;
        padding: 0;
    }

    .box {
        padding-top: 20px;
    }

    .box textarea {
        padding: 10px;
        margin: 0;
        width: 450px;
    }

    .boxResultado textarea {
        height: 250px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 480px) {
    .contenedor1 {
        zoom: 55%;
    }

    .box {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.img {
    width: 400px;
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 20px;
}

.img img {
    margin-top: 40px;
    width: 250px;
    height: 300px;
    margin-bottom: 40px;
}


.none {
    display: none;
}

.aparecer {
    display: flex;
}






